* {
	margin: 0;
	padding: 0;
}

.logo-div1 {
	position: relative;
	width: 50px;
	height: 50px;
	/*background-color: #F4F505;*/
	background-color: #fff;
	border-radius: 50px;
	margin-left: 10%;
}

.logo-div2 {
	position: absolute;

	width: 50px;
	height: 50px;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;

	/* font-size must be this div */
	font-size: xx-large;

	text-align: center;
}

.logo-title {
	font-family: 'Lobster', cursice;
	color: #337AB7;

	vertical-align: middle;
}

header {
	background-color: #337AB7;
	padding: 20px;
}

main {
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
}

h1, h2 {
	margin: 20px;
}

a {
	text-decoration: none !important;
}

a:hover {
	text-decoration: none;
}

.stage {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
	padding: 20px;
	border-radius: 5px;
	margin-left: -15px;
	margin-right: -15px;
}

div.row {
	background-color: #ddd;
	padding: 20px;
	border-radius: 5px;
	margin-top: 20px;
}

.task-info {
	height: 80px;
	margin: 5px;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 0 2px #949494;
}

div.task-info span {
	display: block;
}

div.task-title {
	white-space: nowrap; /* no new line */
	overflow: hidden;
	text-overflow: ellipsis;
}

span.diff {
	color: rgba(0, 0, 0, .54);
}